MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=support_portal
MYSQL_USER=
MYSQL_PASSWORD=

ASPNETCORE_ENVIRONMENT=Development
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
DB_CONNECTION=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=support-attachments

SMTP_HOST=mailpit
SMTP_PORT=1025
